.cards {
    display: flex;
    flex-direction: column;
}

.cards .slider {
    flex: 1;
}

.card {
    border: 1px solid var(--card-border-color);
    border-radius: 0 0 10px 10px;
    margin: var(--section-spacing);
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}

.card > .title {
    width: 70%;
    line-height: 25px;
    text-align: center;
    text-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 1px solid var(--card-border-color);
}

.card > .duration {
    width: 30%;
    line-height: 25px;
    text-align: center;
}

.card > .content {
    border: solid var(--card-border-color);
    border-width: 1px 0;
    padding: 5px;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.card > .tag {
    width: 30%;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid var(--card-border-color);
    color: var(--alternate-text-color);
}

.card > .owner {
    background-color: white;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
}

.card > .owner > img {
    height: 21px;
    width: 21px;
    border-radius: 100%;
    margin: 2px 5px;
}

/* Card types */
.to-do {
    background-color: var(--card-to-do);
}

.doing {
    background-color: var(--card-doing);
}

.verified {
    background-color: var(--card-verify);
}

.done {
    background-color: var(--card-done);
}