.main {
    position: relative;
    flex: 1;
}

.main > .flickity-viewport {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main section {
    width: 100vw;
    height: 100%;
}

.main-nav {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.main-nav input[type="radio"] {
    display: none;
}

.main-nav label {
    display: block;
    flex: 1;
    background: var(--background-color);
    transition: background-color .1s ease-in-out;
}

.main-nav input[type="radio"]:checked + label {
    background: var(--highlight-color);
}