/**
*  Styling for the popup section of the application.
*  Add .trophies in front of the tag to make sure we don't have any conflicts.      
**/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity:1;
    pointer-events: auto;
}
.modal > div {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
	border: 1px solid #0c9;
    border-radius: 0 0 20px	20px;
    background: #fff;
}

.perkheader{
	color: #f90;
	font-size: 24px;
	width: 100%;
	line-height:70px;
	text-align:center;
}

.perkinfo{
    border: 1px solid;
    border-color: #f90;
    color: #666;
    height:100px;
    text-align:left;
    display: block;
}

.perkcost{
    border: 1px solid;
    border-color: #f90;
    background-color: #f90;
    color: #fff;
    height:40px;
    text-align:center;
    display: block;
    vertical-align: middle;
    line-height: 40px; 
}

.cancelbutton{
    background: #999;
    border: 1px solid #999;
    color: #fff;
    height: 30px;
    width: 40%;
        -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    line-height: 30px;
}

.buybutton{
    float:right;
    background: #0c9;
    border: 1px solid #0c9;
    color: #fff;
    height: 30px;
    width: 40%;
        -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    line-height: 30px;
}

.buttons{
    margin-top: 20px;

}