/**
*  Styling for the popup section of the application.
*  Add .trophies in front of the tag to make sure we don't have any conflicts.      
**/
.modal,
.modal-overlay {
  opacity: 0;
  visibility: hidden;

  @include transition(opacity 500ms, visibility 500ms);

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  background: #fff;
  position: absolute;
  z-index: 1000;
  margin: auto;
  left: -100%;
  right: -100%;
  top: 50px;
  box-shadow: 1px 1px 5px 0 $cl-grey-dark;
}

.modal-overlay {
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(#888, 0.25);

  &[ng-click]:hover {
    cursor: default;
  }
}