/**
*  Styling for the profile section of the application.
*  Add .profile in front of the tag to make sure we don't have any conflicts.      
**/

.profile {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 25px;
    padding-right: 25px;
}

.profile .title{
    color: #00CC99;
    margin-bottom: -15px;
}

.profile h3 {
    text-align: center;
}

.profile .sub-title{
    color: #666666;
    text-align: left;
}

.profile .exptext{
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    position:relative;
    top: -1.45em; 
}

.profile .experience{
    width:80%;
    margin:0 auto;
    margin-bottom: -25px;
    text-align:center;
}

.profile progress {
    margin: 0 auto;
	width: 100%;
	height: 20px;
    margin-top: -20px;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: solid 1px;
    border-color:#cccccc;
}

.profile .skills .sub-title {
    margin-bottom: -20px;
}

.profile .skills .skillmargin {
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}

.profile .skilltext{
    width:10%;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    position:relative;
    left: 5%;
}

.profile .skillpercent{
    color: #cc0066;
}

.profile .skillbar {
    margin-left: 40px;
    width: 85%;
}

.profile .powers .sub-title {
    margin-top: -10px;
    margin-bottom: -20px;
}

.profile .powers .powermarg {
    margin-top: 2%;
}

.profile .powertext{
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    position:relative;
    left: 49%;
}

.profile .powerbar {
    margin-left: 55px;
    width:80%;
}
/* Bar colors Power*/
.profile .powerresearch::-webkit-progress-value {
    background-color:#00cc99;
}

.profile .researchicon{
    color:#00cc99;
}

.profile .powerdesign::-webkit-progress-value {
    background-color:#ff9900;
}

.profile .designicon{
    color:#ff9900;
}

.profile .powerinteraction::-webkit-progress-value {
    background-color:#999999;
}

.profile .interactionicon{
    color:#999999;
}

.profile .powertech::-webkit-progress-value {
    background-color:#9900ff;
}

.profile .techicon{
    color:#9900ff;
}

.profile .powerdoc::-webkit-progress-value {
    background-color:#6699ff;
}

.profile .docicon{
    color:#6699ff;
}

.profile .contact{
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.profile .contacttable{
     width:60%; 
     margin:0 auto;
     color: #666666;
     text-align:left;
}

.profile .contacttable td{
     width:20%; 
}

/* Background*/
.profile progress::-webkit-progress-bar {
	background: none;
	border-radius: 0px;
	padding-top: 0px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
    
}

/* Bar */
.profile progress::-webkit-progress-value {
    border-radius: 0px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background-color: #cc0066;
}
