/**
*  Styling for the trophies section of the application.
*  Add .trophies in front of the tag to make sure we don't have any conflicts.      
**/

.trophies h3 {
    text-align: center;
}

.trophies .title hr {
    width: 85%;
}

/* General styling for the block elements with the icon and name in it*/

.trophies .block {
    height: 90px;
    width: 90px;
    float: left;
}

.trophies .icon {
    height: 70px;
    width: 90px;
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #999999;
}

.trophies .icon i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 48px;
}

.trophies .icon i, i::before {
    vertical-align: middle;
}

.trophies .name {
    height: 20px;
    width: 90px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.trophies {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Styling progress bar for Chrome and Safari */
.trophies progress::-webkit-progress-bar { 
    background: #fff; 
}

/* We use flexbox to automatically asign the right margins */
.trophies .perks {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Styling for the achievements part of the page */
.trophies .achievements {
    margin-top: -2px;
    margin-bottom: -4px;
    margin-left: 25px;
    width: 86%;
    /* Scrollable for now. We have to fix this with flickity later */
    overflow-y: hidden;
    overflow-x: scroll;
}

.trophies progress {
    height: 16px;
}

.trophies .achievements .content {
    height: 110px;
    width: 510px;
    margin-bottom: -18px;
}

.trophies .achievements .block {
    margin-right: 12px;
}

.trophies .achievements .name {
    background-color: #666666;
}

/* Global styling for all the perk name and point div's */
.trophies .perk-name {
    float: left;
    width: 50%;
}

.trophies .perk-points {
    float: left;
    width: 50%;
    margin-bottom: -18px;
}

/* Styling for value in progress bar */
.trophies .progress-value {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 0px #000;
    left: 68%;
    margin-top: -1px;
    font-size: 14px;
}

/* Styling for the research part of the page */
.trophies .research-perk {
    width: 85%;
    height: 110px;
    margin: auto;
    margin-top: -6px;
}

.trophies .research-perk .perk-name {
    color: #00CC99;
}

.trophies .research-perk progress {
    border: 1px solid #00CC99;
    height: 14px;
    width: 100%;
}

.trophies .research-perk progress::-webkit-progress-value { 
    background: #00CC99;
}

.trophies .research-perk i {
    color: #00CC99;
}

.trophies .research-perk .perk-points {
}

.trophies .research-perk .name {
    background-color: #00CC99;
}

/* Styling for the design part of the page */
.trophies .design-perk {
    width: 85%;
    height: 110px;
    margin: auto;
    margin-top: 12px;
}

.trophies .design-perk .perk-name {
    color: #FF9900;
}

.trophies .design-perk i {
    color: #FF9900;
}

.trophies .design-perk progress {
    border: 1px solid #FF9900;
    height: 14px;
    width: 100%;
}

.trophies .design-perk progress::-webkit-progress-value { 
    background: #FF9900;
}

.trophies .design-perk .perk-points {
}

.trophies .design-perk .name {
    background-color: #FF9900;
}

/* Styling for the interaction part of the page */
.trophies .interaction-perk {
    width: 85%;
    height: 110px;
    margin: auto;
    margin-top: 12px;
}

.trophies .interaction-perk .perk-name {
    color: #999999;
}

.trophies .interaction-perk i {
    color: #999999;
}

.trophies .interaction-perk progress {
    border: 1px solid #999999;
    height: 14px;
    width: 100%;
}

.trophies .interaction-perk progress::-webkit-progress-value { 
    background: #999999;
}

.trophies .interaction-perk .perk-points {
}

.trophies .interaction-perk .name {
    background-color: #999999;
}

/* Styling for the production part of the page */
.trophies .production-perk {
    width: 85%;
    height: 110px;
    margin: auto;
    margin-top: 12px;
}

.trophies .production-perk .perk-name {
    color: #9900FF;
}

.trophies .production-perk i {
    color: #9900FF;
}

.trophies .production-perk progress {
    border: 1px solid #9900FF;
    height: 14px;
    width: 100%;
}

.trophies .production-perk progress::-webkit-progress-value { 
    background: #9900FF;
}

.trophies .production-perk .perk-points {
}

.trophies .production-perk .name {
    background-color: #9900FF;
}

/* Styling for the documentation part of the page */
.trophies .documentation-perk {
    width: 85%;
    height: 110px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}

.trophies .documentation-perk .perk-name {
    color: #6699FF;
}

.trophies .documentation-perk i {
    color: #6699FF;
}

.trophies .documentation-perk progress {
    border: 1px solid #6699FF;
    height: 14px;
    width: 100%;
}

.trophies .documentation-perk progress::-webkit-progress-value { 
    background: #6699FF;
}

.trophies .documentation-perk .perk-points {
}

.trophies .documentation-perk .name {
    background-color: #6699FF;
}